---
---
// Imports
@import 'normalize';
@import 'skeleton';
@import url('//fonts.googleapis.com/css?family=Raleway:400,300,600');

// Variables
$nav-height: 80px;

// Main

.container {
  margin-top: $nav-height + 20px;
}

nav {
  background-color: rgba(113, 6, 112, 0.5);
  color           : white;
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : $nav-height;
  z-index         : 999;

  a {
    text-decoration: none;
    color          : white;
  }

  h1 {
    float       : left;
    padding-left: 30px;
    padding-top : 10px;
    font-weight : bold;
  }

  ul {
    list-style : none;
    float      : right;
    padding-top: 30px;

    li {
      display      : inline;
      padding-right: 10px;

      a {
        padding: 15px 15px 15px 15px;

        :hover {
          background-color: blue;
        }
      }
    }

    &:after {
      background-color: green;
    }
  }
}

.hero {
  content         : '';
  position        : relative;
  height          : 100vh;
  top             : 0;
  right           : 0;
  bottom          : 0;
  left            : 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity         : 0.8;

  h1 {
    position: absolute;
    top     : 35%;
    left    : 15%;
    color   : white;
  }

  p {
    position: absolute;
    top     : 65%;
    left    : 15%;
    width   : 40%;
    color   : white;
  }
}

section {
  padding-top   : 8vh;
  h1 {
    text-align: center;
  }
}

#summary {
  font-size: 1.3em;
}

.contact {
  min-height: 100vh;
}

.profile {
  text-align: center;
  background-color: rgb(55, 55, 55);
  color: white;
  margin: 5px 10px 5px 10px;
  border-radius: 25px;
}

.profile-pic {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.team-desc {
  padding-top: 4vh;
}
