<form class="contact-form" action="//formspree.io/contact@cohelix.co.nz" method="post">
  <div class="row">
    <div class="six columns">
      <label for="nameInput">Your name</label>
      <input class="u-full-width" name="name" type="text" placeholder="Your name…" id="nameInput">
    </div>
    <div class="six columns">
      <label for="emailInput">Your email</label>
      <input class="u-full-width" name="email" type="text" placeholder="Your email…" id="emailInput">
    </div>
    <label for="message">Message</label>
    <textarea class="u-full-width" name="message" placeholder="Hi CoHelix …" id="message"></textarea>
    <input class="button-primary" type="submit" value="Submit">
  </div>
</form>
