<footer class="site-footer">
  <div class="row">
    <div class="four columns">
      <img class="logo" src="/images/cohelix-landscape-dark.svg" alt="CoHelix" />
    </div>
    <div class="four columns">
      <h3>Get in touch</h3>
      <ul>
        <li>Email:
          <a href="mailto: contact@cohelix.co.nz">contact@cohelix.co.nz</a>
        </li>
        <li>Twitter:
          <a href="https://twitter.com/cohelix">@CoHelix</a>
        </li>
      </ul>
    </div>
    <div class="four columns">
      <h3>Subscribe to our blog</h3>
      <form class="subscribe-form" action="//formspree.io/dan@cohelix.co.nz" method="post">
        <input type="email" name="email-subscribe" placeholder="you@example.com" id="emailInput">
        <input class="button-primary" type="submit" value="Send">
      </form>
    </div>
  </div>

</footer>
