<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <img class="logo" src="/images/cohelix-landscape-dark.svg" alt="CoHelix"/>
      </div>
      <div class="six columns icons">
        <h3>Get in touch</h3>
        <a href="mailto: {{ site.email }}"><img class="icon" src="/images/email.svg" onerror="this.src='/images/email.png'" alt="email"/></a>
        <a href="https://twitter.com/cohelix"><img class="icon" src="/images/twitter.svg" onerror="this.src='/images/twitter.png'" alt="twitter"/></a>
      </div>
    </div>
  </div>
</footer>
