<head>
  <!-- Page Metadata -->
  <meta charset="utf-8">
  <title>CoHelix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Dan Tong">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">

  <!-- Scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
