<p>
  Business customers experience a fragmented service from government front-line staff from regulatory agencies. Businesses have to provide the same information multiple times and can’t get cross-cutting advice. This increases their effort dealing with government, the number of interactions they have, and the likelihood that they’ll have compliance problems which could have been avoided by early intervention and advice.
</p>

<p>
  This fragmentation is caused by the difficulty that frontline staff have with collecting on the spot information, sharing that information and delivering valuable information to their business customers. Most processes are manual which limits the level of information that can be carried and also recorded. Even if information is captured it may not be uploaded into the systems and is unlikely to be shared across agencies.
</p>

<a href="http://www.r9accelerator.co.nz/opportunities/opportunity11/">Find out more</a>
